@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Hello wordl</h1>
<h2>Student Name: Ngo Truong Huy TRUONG</h2>
<h3>Student ID: s329531</h3>