<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <button mat-button>
        <mat-icon>circle_notifications</mat-icon>
    </button>
    <button mat-button routerLink="/login">
        <mat-icon>logout</mat-icon>
    </button>
    
    <button mat-button routerLink="/signup">
        <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>